<p>
cart works!
</p>
<div class="cart-item" 
*ngFor="let item of itemsMyCart">
  <span>{{ item.name }}</span>
  <span>{{ item.price | currency }}</span>
</div>
<p>
  <a routerLink="/shipping">查看运费信息Shipping Prices</a>
</p>
<form [formGroup]="checkoutForm" 
(ngSubmit)="onSubmit(checkoutForm.value)">
  <div>
    <label for="name">
      Name
    </label>
    <input id="name" type="text" 
    formControlName="name">
  </div>

  <div>
    <label for="address">
      Address
    </label>
    <input id="address" type="text" formControlName="address">
  </div>

  <button class="button" type="submit">提交订单Purchase</button>

</form>